
.colorbar {
    display: flex;
    height: 0.9375em;
    margin: 0.125em 0;
    transition: all linear 0.15s;
    width: 100%;
    
    & > div {
        width: 16.6666667%;
        //margin: 0 0.0625em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .green {
        background: $green;
    }
    .yellow {
        background: $yellow;
    }
    .orange {
        background: $orange;
    }
    .red {
        background: $red;
    }
    .purple {
        background: $purple;
    }
    .maroon {
        background: $maroon;
    }
}
.colorbar.ng-hide {
    height: 0;
}

@media (min-width: 768px) {
    .colorbar {
        height: 1.875em;
        margin: 0.25em 0;

        & > div {
            //margin: 0 0.125em;
        }
    }
}