.quality_1 {
    background: $green;
}
.quality_1-desc {
    background: $green_dk;
}
.quality_1-txt {
    color: $green;
}

.quality_2 {
    background: $yellow;
    
    .date, .location {
        color: darken($yellow_dk, 20%);
    }
}
.quality_2-desc {
    background: $yellow_dk;
}
.quality_2-txt {
    color: darken($yellow_dk, 20%);
}

.quality_3 {
    background: $orange;
}
.quality_3-desc {
    background: $orange_dk;
}
.quality_3-txt {
    color: $orange;
}

.quality_4 {
    background: $red;
}
.quality_4-desc {
    background: $red_dk;
}
.quality_4-desc-txt {
    color: $red;
}

.quality_5 {
    background: $purple;
}
.quality_5-desc {
    background: $purple_dk;
}
.quality_5-txt {
    color: $purple;
}
