
$navbar-bg: transparent;
$navbar-txt: #222;

.epanav {
    border-bottom: 1px solid rgba($dark, 0.25);
    border-radius: 0;
    margin-bottom: 7px;

    a {
        color: $navbar-txt;

        &:hover {
            color: lighten($navbar-txt, 10%);
        }
    }

}
