$navbar-bg: transparent;
$navbar-txt: #999;

.epanav {

    border-radius: 0;
    margin-bottom: 0;

    .container {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .logo {
        display: none;
        padding: .5em 0;
        margin-right: auto;
    }

    // Large Tablets and Desktops
    @media screen and (min-width: $screen-md) {
        height: 125px;

        .epanav-large {
            display: inline-block;
        }

        .logo {
            padding: 1.25em 0;
            //width: 200px;

            img {
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    // Small Tablets and Phones
    @media screen and (max-width: $screen-md) {
        height: auto;

        .epanav-small {
            display: inline-block;
        }

        i {
            font-size: 24px;
        }
    }
}


