$navbar-bg: transparent;
$navbar-txt: #999;

.epanav {

    border-radius: 0;
    margin-bottom: 7px;

    .container {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

    .logo {
        display: none;
        padding: .5em 0;
        margin-right: auto;
    }

    i {
        color: $navbar-txt;

        &:hover {
            color: darken($navbar-txt, 10%);
        }
    }

    // Large Tablets and Desktops
    @media screen and (min-width: $screen-md) {
        height: 125px;

        .epanav-large {
            display: inline-block;
        }

        .logo {
            padding: 1.25em 0;
        }

        i {
            font-size: 42px;
        }
    }

    // Small Tablets and Phones
    @media screen and (max-width: $screen-md) {
        height: 57px;

        .epanav-small {
            display: inline-block;
        }

        i {
            font-size: 24px;
        }
    }
}


