
<div class="settingspage">
    
    <div class="container">
        
        <div class="row">
            
            <div class="col-xs-12">
                <h2><i class="glyphicon glyphicon-map-marker"></i> Locations</h2>
            </div>

        </div>

        <!-- current location -->
        <div class="row settings__location" ng-show="showCurrent">
            <div class="settings__location-row">

                <div class="settings__location-picker" ng-click="setActiveLocation('current')">
                    <i ng-class="{active: active.location === 'current'}" class="fa fa-check"></i>
                </div>

                <div class="settings__location-name">
                    <span class="sln-name">
                        Current
                    </span>
                    <span class="sln-coords">
                        39.9331, -84.1230
                    </span>
                </div>

            </div><!-- settings__location-row -->
        </div>
        
        <!-- location -->
        <div class="row settings__location" ng-repeat="location in locations">
            <div class="settings__location-row">

                <div class="settings__location-picker" ng-click="setActiveLocation(location.zip)">
                    <i ng-class="{active: active.location === location.zip}" class="fa fa-check"></i>
                </div>

                <div class="settings__location-name">
                    <span class="sln-name">
                        {{ location.name }}
                    </span>
                    <span class="sln-coords">
                        {{ location.zip }}
                    </span>
                </div>
                
                <div class="settings__location-remove">
                    <i ng-click="removeLocation(location.zip)" class="fa fa-times"></i>
                </div>
            </div>
        </div>


        <div class="row">
            
            <div class="col-xs-12">
                <h2>Store New Location</h2>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Zip Code" ng-model="inputLocation" ng-required="true" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="addLocation()">Add Location</button>
                    </span>
                </div>
                <span class="help-inline">{{ inputMessage }}</span>
            </div>

        </div>

    </div>
    
</div>