
<div class="description quality_6-desc">
    <div class="container">
        <h2>Hazardous</h2>
        <p>Health warnings of Emergency Conditions: everyone may experience more serious health effects.</p>
    </div>
</div>

<div class="cards">
    <div class="container">
        <div class="row">            
            <div class="col-xs-12">
                <h3>On Code Maroon days <span class="do">do</span>:</h3>
            </div>
        </div>

        <div class="row row__activity">
            <div class="card">
                <div class="card__text">
                    Make sure friends &amp; family with heart or lung disease, as well as children or the elderly, remain indoors and keep activity levels low.
                </div>
                <div class="card__icon">
                    <i class="fa fa-home"></i>
                </div>
            </div>
        

            <div class="card">
                <div class="card__text">
                    Stay safe: avoid <strong>ALL</strong> physical activity outdoors!
                </div>
                <div class="card__icon">
                    <i class="fa fa-ban"></i>
                </div>
            </div>      
        </div>

    </div>
</div>
