
<div class="description quality_2-desc">
    <div class="container">
        <h2>Moderate</h2>
        <p>
            Air quality may pose a moderate risk, especially for those 
            who are sensitive to air pollution.
        </p>
    </div>
</div>

<div class="cards">
    <div class="container">
        <div class="row">
            
            <div class="col-xs-12">
                <h3>On Code Yellow days <span class="do">do</span>:</h3>
            </div>

        </div>

        <div class="row row__activity">
            <div class="card">
                <div class="card__text">
                    Make a list, and check it twice&#33; It's best to limit driving today, and consolidating trips goes a long way to helping keep emissions down.
                </div>
                <div class="card__icon">
                    <i class="fa fa-file-text"></i>
                </div>
            </div>
            <div class="card">
                <div class="card__text">
                    We know&#8212;you're pressed for time &amp; drive&#45;thrus are a modern day marvel. But when the code hits Yellow, do us all a solid &amp; avoid car idling as much as possible. 
                </div>
                <div class="card__icon">
                    <i class="fa fa-car"></i>
                </div>
            </div>
        </div>

        <div class="row row__activity">          
            <div class="card">
                <div class="card__text">
                    Make Mom proud &amp; turn off the lights when you leave a room, because today's a great day to conserve electricity. Wanna be a real hero? Turn up the A&#47;C to 78. The planet and your wallet will thank you&#33;
                </div>
                <div class="card__icon">
                    <i class="fa fa-plug"></i>
                </div>
            </div>
        </div>

    </div>
</div>
