
<div class="description Moderate-desc">
    <h2>Moderate</h2>
    <p>
        Air quality may pose a moderate risk, especially for those 
        who are sensitive to air pollution.
    </p>
</div>

<div class="cards">
    <div class="container">
        <div class="row">
            
            <div class="col-xs-12">
                <h2>On Code Yellow days <span class="do">do</span>:</h2>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <div class="card__text">
                        Gather up your friends &amp; hit the HOV lane.
                        Quality time with your crew while reducing
                        emissions? We'd call that #squadgoals
                    </div>
                    <div class="card__icon">
                        <i class="fa fa-car"></i>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card__text">
                        Channel your inner grease monkey. Or hire
                        a good one. Either way, keep those engines
                        tuned!
                    </div>
                    <div class="card__icon">
                        <i class="fa fa-wrench"></i>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card__text">
                        Choose love. Using environmentally friendly
                        products lets Mother Earth know just how much
                        you care.
                    </div>
                    <div class="card__icon">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <div class="card__text">
                        Bask in the sun. Dance in the rain. Nap in the
                        shade. Green days are great days to get outside 
                        &amp; enjoy activities of all kinds!
                    </div>
                    <div class="card__icon">
                        <i class="fa fa-sun-o"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
