
<div class="description quality_4-desc">
    <div class="container">
        <h2>Unhealthy</h2>
        <p>
            Everyone may experience more serious health effects and should
            limit their outdoor activity.
        </p>
    </div>
</div>

<div class="cards">
    <div class="container">
        <div class="row">     
            <div class="col-xs-12">
                <h3>On Code Red days <span class="do">do</span>:</h3>
            </div>
        </div>

         <div class="row row__activity">
            <div class="card">
                <div class="card__text">
                    If it's time for a fill-up, set your clock by the sunset: it's best to refuel after dusk once the index starts climbing over 100.
                </div>
                <div class="card__icon">
                    <i class="fa fa-hourglass-end"></i>
                </div>
            </div>
        
            <div class="card">
                <div class="card__text">
                    Grass due for a trim? Unless you're old school (push mower) or new school (electric mower), you're gonna have to wait to knock out this chore. Try not to be too sad about it.
                </div>
                <div class="card__icon">
                    <i class="fa fa-leaf"></i>
                </div>
            </div>
        </div>

        <div class="row row__activity">
            <div class="card">
                <div class="card__text">
                    Dust off your bus pass, and carve out a little extra time in your schedule to use public transportation today. The less cars on the road, the better.
                </div>
                <div class="card__icon">
                    <i class="fa fa-bus"></i>
                </div>
            </div>
        
            <div class="card">
                <div class="card__text">
                    Put down the can, and step away slowly. It's best to avoid using aerosol products today.
                </div>
                <div class="card__icon">
                    <i class="fa fa-exclamation-triangle"></i>
                </div>
            </div>
        </div>

        <div class="row row__activity">
            <div class="card">
                <div class="card__text">
                    The votes are in, and Caribbean Azure really is the perfect blue for the accent wall in the bedroom. But we'd advise putting off painting until air quality improves.
                </div>
                <div class="card__icon">
                    <i class="fa fa-paint-brush"></i>
                </div>
            </div>
            <div class="card">
                <div class="card__text">
                    On Red days, it's a good idea to limit strenous outdoor activites. Stick to the treadmill, skip the pool, or just queue up your favorite guilty pleasure on Netflix.
                </div>
                <div class="card__icon">
                    <i class="fa fa-television"></i>
                </div>
            </div>
        </div>

    </div>
</div>
