
<div class="description quality_5-desc">
    <div class="container">
        <h2>Very Unhealthy</h2>
        <p>
            Everyone should avoid outdoor activites, especially individuals
            with heart and breathing ailments, children, and older adults.
        </p>
    </div>
</div>

<div class="cards">
    <div class="container">
        <div class="row">
            
            <div class="col-xs-12">
                <h3>On Code Purple days <span class="do">do</span>:</h3>
            </div>

        </div>
        
        <div class="row row__activity">
            <div class="card">
                <div class="card__text">
                    If it's time for a fill-up, set your clock by the sunset: it's best to refuel after dusk once the index starts climbing over 100.
                </div>
                <div class="card__icon">
                    <i class="fa fa-hourglass-end"></i>
                </div>
            </div>
        
            <div class="card">
                <div class="card__text">
                    Grass due for a trim? Unless you're old school (push mower) or new school (electric mower), you're gonna have to wait to knock out this chore. Try not to be too sad about it.
                </div>
                <div class="card__icon">
                    <i class="fa fa-leaf"></i>
                </div>
            </div>
        </div>

        <div class="row row__activity">
            <div class="card">
                <div class="card__text">
                    Dust off your bus pass, and carve out a little extra time in your schedule to use public transportation today. The less cars on the road, the better.
                </div>
                <div class="card__icon">
                    <i class="fa fa-bus"></i>
                </div>
            </div>
        
            <div class="card">
                <div class="card__text">
                    Put down the can, and step away slowly. It's best to avoid using aerosol products today.
                </div>
                <div class="card__icon">
                    <i class="fa fa-exclamation-triangle"></i>
                </div>
            </div>
        </div>

        <div class="row row__activity">
            <div class="card">
                <div class="card__text">
                    The votes are in, and Caribbean Azure really is the perfect blue for the accent wall in the bedroom. But we'd advise putting off painting until air quality improves.
                </div>
                <div class="card__icon">
                    <i class="fa fa-paint-brush"></i>
                </div>
            </div>
            <div class="card">
                <div class="card__text">
                    To be frank, today's a dangerous day to be outside. Cozy up with a good book, catch up on housework or perfect your poker face with a game of Texas Hold'em. Enjoy your day, just do it indoors.
                </div>
                <div class="card__icon">
                    <i class="fa fa-book"></i>
                </div>
            </div>
        </div>

    </div>
</div>
