<nav class="navbar navbar-static-top epanav">
    <div class="container">

            <div class="logo epanav-large">
                <a class="epalogo" href="#/"><img src="images/logo-header-large.png" alt="Daily Ozone" /></a>
            </div>
            <div class="logo epanav-small">
                <a class="epalogo" href="#/"><img src="images/logo-header-small.png" alt="Daily Ozone" /></a>
            </div>

            <div class="settings">
                <a class="epasettings" href="#/settings"><i class="glyphicon glyphicon-cog"></i></a>
            </div>

    </div>
</nav>