body {
	background: #fff;
	letter-spacing: normal;
}

.btn-primary {
    background-color: $blue_dk;
    border-color: darken($blue_dk, 10%);

    &:hover {
    	background-color: darken($blue_dk, 10%);
    	border-color: darken($blue_dk, 20%);
    }
}

// Headings 

h2, .h2 {
	font-size: 24px;
}

h3, .h3 {
	font-size: 18px;
}

@media (min-width: 768px) {
	h2, .h2 {
		font-size: 48px;
	}

	h3, .h3 {
		font-size: 36px;
	}
}