/**
 * DailyOzone-ColorPalette.jpg
 */
 
     $dark: #202629;
    $light: #eeeeee;

 $txt_dark: #555555;
$txt_light: #ffffff;

    $green: #5aab70;
 $green_dk: #44935a;

   $yellow: #e4c725;
$yellow_dk: #c4aa2f;

   $orange: #d18743;
$orange_dk: #be702d;

      $red: #c64c5b;
   $red_dk: #b13248;
   
   $purple: #823f88;
$purple_dk: #712f76;

     $blue: #1d89c4;
  $blue_dk: #334a8a;
