
html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background: $light;
    color: $txt_dark;
    font-family: $font-stack;
    font-size: 16px;
    letter-spacing: 0.085em;
}

a {
    cursor: pointer;
}

img {
    border: none;
}
