
.activity {
    margin: 0;
    min-height: 32px;
    padding: 0;
}

.mainpage {

    .date, .location {
        display: block;
        font-size: 150%;
        margin-bottom: 0.5em;
    }

    .aqi {
        background: $txt_light;
        border-radius: 50%;
        display: inline;
        font-size: 200%;
        text-align: center;
        width: 150px;
        height: 150px;
        padding: 0.5em;
    }

    .status, .description {
        color: $txt_light;
        margin: 0;
        padding: 2.0em;
    }

    .description {
        text-align: center;
    }

    .do {
        color: $blue;
        font-weight: bold;
    }

    .card {
        background: darken($light, 5%);
        display: flex;
        margin: 1.0em 0;

        .card__text {
            padding: 1.0em;
            width: 70%;
        }
        .card__icon {
            align-items: center;
            background: $blue;
            color: $light;
            display: flex;
            flex: 1;
            font-size: 48px;
            justify-content: center;
        }
    }

    .loader {
        background: $blue_dk;
        display: flex;
        justify-content: center;
        padding: 2.0em;

        svg {
            fill: $blue;
            height: 32px;
            width: 32px;
        }
    }

}



