
.activity {
    margin: 0;
    min-height: 32px;
    padding: 0;
}

.mainpage {

    .date, 
    .location {
        display: block;
    }

    .aqi {
        background: $txt_light;
        border-radius: 50%;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        width: 54px;
        height: 53px;
        padding: 0.3em 0;
    }

    .status, 
    .description {
        color: $txt_light;
        margin: 0;
        padding: 1em;
    }

    .description {
        text-align: center;

        p {
            font-size: 14px;
        }
    }

    .do {
        color: $blue;
        font-weight: bold;
    }

    .cards {
        h2 {

        }

        h3 {
            margin-top: 28px;
            margin-bottom: 20px;
        }
    }

    .card {
        background: darken($light, 5%);
        display: flex;
        margin: 0 0 1em;

        .card__text {
            padding: 1.0em;
            width: 80%;
            font-size: 14px;
        }

        .card__icon {
            align-items: center;
            background: $blue;
            color: $txt_light;
            display: flex;
            flex: 1;
            font-size: 36px;
            justify-content: center;
        }
    }

    .loader {
        background: $blue_dk;
        display: flex;
        justify-content: center;
        padding: 2.0em;

        svg {
            fill: $blue;
            height: 32px;
            width: 32px;
        }
    }

}

@media (min-width: 768px) {
    .mainpage {

        .status, 
        .description {
            padding: 2em 0;
        }

        .date,
        .location {
            font-size: 28px;
        }

        .location {
            margin-top: 30px;
        }

        .aqi {
            width: 108px;
            height: 106px;
            font-size: 52px;
        }

        .status {
            .row {
                &:first-of-type {
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        border-top: 2px solid #fff;
                        position: absolute;
                        top: 50%;
                        margin-top: -1px;
                        left: 15px;
                        right: 15px;
                    }
                }
            }
        }

        .description {
            p {
                font-size: 24px;
            }
        }

        .cards {
            h3 {
                margin-top: 50px;
                margin-bottom: 35px;
            }
        }

        .card {
            .card__text {
                font-size: 16px;
            }
        }
    }
}


@media (min-width: 990px) {
    .row__activity {
        display: table;
        width: 100%;
        margin-bottom: 30px;
    }

    .mainpage {
        .card {
            position: relative;
            display: table-cell;
            width: 50%;
            border-left: 15px solid #fff;
            border-right: 15px solid #fff;
            vertical-align: middle;

            .card__text {
                width: auto;
                padding: 15px 115px 15px 15px;
            }

            .card__icon {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 100px;
            }
        }
    }
}

