
.settingspage {
    
}

.settings__coords {
    font-size: 90%;
    font-style: italic;
}

.settings__location {
    border-bottom: 1px solid #ccc;
}

.settings__name {
    display: block;
    font-size: 200%;
    font-weight: bold;
}

.settings__picker {
    background-color: lighten($light, 20%);
    cursor: pointer;
    padding: 1.0em;
    text-align: center;

    svg {
        fill: gray;
        height: 42px;
        width: 42px;
    }
    
    svg.active {
        fill: green;
    }
}

